POSTGRES_USER=nuru_admin
POSTGRES_PASSWORD=a_changer_en_production
JWT_SECRET_KEY=a_changer_en_production
SCORING_API_KEYS=a_changer_en_production
SCORING_API_KEY=a_changer_en_production
OPERATOR_API_KEYS=vodacom:a_changer,airtel:a_changer,orange:a_changer,visa:a_changer
BOOTSTRAP_ADMIN_EMAIL=admin@fraud-rdc.local
BOOTSTRAP_ADMIN_PASSWORD=a_changer_en_production
